.titulo{
	margin-top: 0px;
	margin-bottom: 6.5%;
	font-size: 100px;
}
.containerCompra{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.center{
	float none;
	text-align: center;
}
.btn-compra{
background-color: #84725a;
border-color: #84725a;
color: #ffffff;

}
.btn-compra:hover{
background-color: #6d6150;
border-color: #6d6150;
color: #ffffff;
}
.btn-compra:active:hover{
	background-color: #5f5548;
	border-color: #5f5548;
}
