body{background: #f1f2f9;}
.topnav{background-color: #1b1c20;opacity: 1;}
.full-container{margin-top: 30px; width: 90%; margin-left: 6.5%;}

@media screen and (max-width: 600px) {
  .full-container{
    width: 85%; margin-left: 13%;
  }
}

@media screen and (min-width: 990px){
	#graficas{
    position:  relative;
    top: -30px;

	}
}