.float{
		background: #e5f1f0;
		padding-top: 30px;
		padding-bottom: 30px;
		border-radius: 4px;
		box-shadow: -10px 0 30px -15px #333;
	}
@media screen and (max-width: 998px) {
  .text-right{text-align: left;}
}
.float-pssw{
	background-color: #f3f3f3;
	margin-top: 90px;
}