.opcionMenuOpen{position: relative;top: 15px; font-size: 20px;padding-left: 10px;font-family: arial;}
.menu-l span{font-size: 20px;}

.container-details{background: #f7f7f73d;border-radius: 3px; margin-top: 10px;}
body strong{font-size: 20px;}
body{font-size: 16px;}
.notification{font-size: 25px;}
.col-info{background: white;min-height: calc(100vh - 110px);padding-top: 10px;box-shadow: -10px 0 30px -15px #333;}
.col-normal{background: #cccccc36; min-height: calc(100vh - 110px);}
.optionsTop{margin-bottom: 30px;margin-top: 15px;}
#content-dinamic{margin-top: 15px;}
input,select,textarea{    font-size: 16px !important;
    border-radius: 4px !important;
    border: 1px solid #4c7682 !important;}
input:focus,select:focus,textarea:focus{border: 1px solid #16a5ce !important;box-shadow: 0px 0px 5px #6094d2  !important;}
.folio>strong{color: red;}
.folio{font-size: 20px;position: absolute; right: 5px;}
hr{color: #e3e3e3;background-color: #a7a6a6;height: 1px;}
.total{font-size: 40px;font-family: arial}
.ui-menu,option{background: #ffd49c !important;}
textarea{resize: none;}