.padding-left{
	padding-left: 0px;
	padding-top: 0px;
}
.margin-left{
	margin-left: 0px;
	margin-top: 0px;
}
.titulo{
	margin-top: 0px;
	margin-bottom: 2.5%;
	font-size: 100px;
}
.containerGeneral{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.center{
	float none;
	text-align: center;
}
.btn-general{
	background-color: #84725a;
	border-color: #84725a;
	color: #ffffff;
}
.btn-general:hover{
background-color: #6d6150;
border-color: #6d6150;
color: #ffffff;
}
.btn-general:active:hover{
	background-color: #5f5548;
	border-color: #5f5548;
}
